@font-face {
    font-family: 'Italiana';
    src: url('../assets/fonts/Italiana-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kantumury Pro Thin';
    src: url('../assets/fonts/KantumruyPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Optionally remove default padding */
    background-color: #1e1e1e;
}

h1, h2, h3, h4, h5, h6, strong, b {
    font-weight: normal; /* Or specify another weight, like 400 or 500 */
}



